<!DOCTYPE html>
<html>
<head>
  <title>Employee List</title>
  <div th:replace="~{fragments :: imports}"></div>
</head>
<body>

  <div th:replace="~{fragments :: header}"></div>


<div class="container mt-5">
  <h1 class="text-center mb-5">Employee List</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Company ID</th>
      <th>Created At</th>
      <th>Modified At</th>
    </tr>
    </thead>
    <tbody>
    <!-- Use a loop here to retrieve and display the data from the employees table -->
    <tr>
      <td>1</td>
      <td>John</td>
      <td>Doe</td>
      <td>johndoe@example.com</td>
      <td>1</td>
      <td>2022-01-01</td>
      <td>2022-02-01</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jane</td>
      <td>Smith</td>
      <td>janesmith@example.com</td>
      <td>1</td>
      <td>2022-01-01</td>
      <td>2022-02-01</td>
    </tr>
    <!-- End of loop -->
    </tbody>
  </table>
</div>
</body>
</html>
