<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <div th:replace="~{fragments :: imports}"}></div>
</head>

<div th:replace="~{fragments :: header}"></div>

<body>
<div class="container mt-5">
    <h1 class="text-center mb-5">Teorien er lett</h1>

    <a href="/quiz" class="btn btn-primary">Start quiz</a>

    <div class="text-center mt-5">
        <h2 class="mb-5">Sign up</h2>
        <form action="/registration" method="POST">
            <div class="form-group">
                <label>Email address</label>
                <input type="email" name="email" class="form-control" placeholder="Enter your email address"/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" placeholder="Enter your password"/>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>

    <h2>login</h2>

    <form action="/login" method="POST">
        <div class="form-group">
            <label>Email address</label>
            <input type="email" name="email" class="form-control" placeholder="Enter your email address"/>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" placeholder="Enter your password"/>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>


<footer th:replace="~{footer}"></footer>

</body>

</html>
