<!DOCTYPE html>
<html>
<head>
    <title>Teori-prøven</title>
    <div th:replace="~{fragments :: imports}"></div>
</head>
<body>
<div th:replace="~{fragments :: header}"></div>
<div class="container mt-5">
    <h1 class="text-center mb-5">Quiz test</h1>

    <div th:fragment="question" id="question-container">

        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <h3 th:text="${question.question}"></h3>
                <div th:each="answer : ${question.answers}">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" th:value="${answer.value}"
                               th:text="${answer.value}">
                    </div>
                </div>
                <button hx-post="/submit_answer" hx-target="#question-container" class="btn btn-primary">Next</button>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div style="width:550px; height:300px;" id="quiz-image-container">
                    <img th:if="${question.image_normal != null && question.image_normal != ''}"
                         th:src="${question.image_normal}"
                         alt="question image"
                         class="img-thumbnail"
                         style="width:550px; height:300px;"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" id="explanation container">
                <h4>Explanation</h4>
                <p th:utext="${question.explanation}"></p>
                <p>Correct answer: <span th:text="${question.correctAnswer}"></span></p>
            </div>
        </div>
    </div>
</div>

</body>

</html>