<!DOCTYPE html>
<html>
<head>

    <title>Teori-prøven</title>
    <div th:replace="~{fragments :: imports}"></div>
</head>
<body>
<div th:replace="~{fragments :: header}"></div>
<div class="container mt-5">

    <div th:fragment="question" id="question-container">

        <h1 th:text="${question.question}" class="text-center"></h1>
        <div class="row mt-lg-5" id="answer-and-image-container">
            <div class="col-lg-6 order-lg-2" id="answer-container">
                <ul class="list-group">
                    <th:block th:each="answer : ${question.answers}">
                        <li class="list-group-item answer-li " th:value="${answer.questionAlternative}"
                            th:data-correct-answer="${answer.isCorrect}" th:text="${answer.questionAlternative}"
                            onclick="selectAnswer(this)"></li>
                    </th:block>
                </ul>
            </div>

            <div class="col-lg-6 order-lg-1" id="question-image-container">
                <div style="width:550px; height:300px;" id="quiz-image-container">
                    <img th:if="${question.imageNormalBlob}"
                         th:src="@{/question/image/{id}(id=${question.id})}"
                         alt="question image"
                         class="img-thumbnail"
                         style="width:550px; height:300px;"/>
                </div>
            </div>
        </div>
        <div id="question-buttons-container" class="d-flex justify-content-center mt-5 btn-group btn-group-lg">
            <button hx-post="/submit_answer"
                    hx-target="#question-container" style="font-size:1.5rem;"
                    class="btn btn-primary mr-3">Neste
            </button>
            <button class="btn btn-secondary" onclick="toggleExplanation()"
                    id="explanation-button" style="font-size:1.5rem;">Vis Fasit
            </button>

        </div>


        <div class="row mt-5 " id="explanation-container" style="display:none;">
            <div class="bg-light p-5 rounded-lg m-3">
                <h3>Forklaring</h3>
                <p th:utext="${question.explanation}"></p>

                <div style="width:550px; height:300px;" id="quiz-explanation-image-container">
                    <img th:if="${question.explanationImageLargeBlob}"
                         th:src="@{/question/explanation-image/{id}(id=${question.id})}"
                         alt="question image"
                         class="img-thumbnail"
                         style="width:550px; height:300px;"/>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleExplanation() {
        var explanationContainer = document.getElementById("explanation-container");
        explanationContainer.style.display = (explanationContainer.style.display === "none") ? "block" : "none";

        var answerElements = document.getElementsByClassName("answer-li");
        for (var i = 0; i < answerElements.length; i++) {
            if (answerElements[i].getAttribute("data-correct-answer") === "true") {
                answerElements[i].classList.add("list-group-item-success");
            }
        }
    }

    function selectAnswer(element) {
        // Remove "active" class from all list items
        var listItems = document.getElementsByClassName("list-group-item");
        for (var i = 0; i < listItems.length; i++) {
            listItems[i].classList.remove("list-group-item-primary");
        }

        // Add "active" class to selected list item
        element.classList.add("list-group-item-primary");
    }

</script>

<style>
    .answer-li {
        font-size: 20px;
    }

    @media (max-width: 1000px) {
        .answer-li {
            font-size: 36px;
        }
    }

    #answer-container {
        display: flex;
        flex-direction: column;
    }

    #answer-container ul {
        flex: 1;
    }

    #answer-container li.answer-li {
        flex: 1;
    }


    #question-buttons-container {
        margin-top: 2rem;
    }

    h1 {
        min-height: 96px;
    }


</style>
</body>

</html>