<!DOCTYPE html>
<html>
<head>
    <title>Teori-prøven</title>
    <div th:replace="~{fragments :: imports}"></div>
</head>
<body>
<div th:replace="~{fragments :: header}"></div>
<div class="container mt-5">
    <h1 class="text-center mb-5">Quiz test</h1>

    <div th:fragment="question" id="question-container">

        <div style="width:550px; height:300px;" id="quiz-image-container">
            <img th:if="${question.image_normal != null && question.image_normal != ''}"
                 th:src="${question.image_normal}"
                 alt="question image"
                 class="img-thumbnail"
                 style="width:550px; height:300px;"/>
        </div>

        <h3 th:text="${question.question}"></h3>
        <div th:each="answer : ${question.answers}">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answer" th:value="${answer.value}"
                       th:text="${answer.value}">
            </div>
        </div>
        <button hx-post="/submit_answer" hx-target="#question-container" class="btn btn-primary">Next</button>
    </div>
</div>
</body>

</html>